.timePicker {
  width: 100px;
  background-color: black;
}

.img {
  width: 50px;
  height: 50px;
}

.imageResult{
  width: 200px;
  height: 200px;
}

.imageAndMap-container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding-right: 20px;
}

.imagePlace {
  /* width: 370px; */
  height: 200px;
  /* padding: 10px */
}

.imageMap  {
  /* width: 350px;
  height: 200px; */
  padding: 10px;
}

.imagesMapAndDescriptionContainer {
  display: flex;
  justify-content: space-around;
  padding-left: 30px;
  padding-right: 30px;
}

.modalPlaceName {
  font-size: 30px;
  line-height: 1.05;
}

.modal-totalReviews {
  color: #000099;
  font-size: 13px;
}

a:hover {
  color: #000099;
}

.modal-bigDescription  {
  padding-top: 20px;
  font-size: 15px;
}

.modal-addres-hours-phone-info {
  margin-top: 60px;
  font-size:15px;
}


.modalDescription_rating {
  font-size: 13px;
}

.google-map-description {
  padding-top: 10px;
}





