.headerAndNavigationBar {
  position: fixed; 
  width: 100%;
  top: 0; 
  z-index: 300;
}



.main-content-results {
  margin-top: 309px;
  
}
/* 
@media (min-width: 700px) {
  .main-content-results {
    background-color: blue;
  }
}

@media (min-width: 1000px) {
  .main-content-results {
    background-color: green;
  }
} */

