.addToItenararyButton {
   border-radius: 50px;
   border:  1px  black solid;
}



.durationHoursOptions {
  display: flex;
  justify-content: space-around;
}

.durationTime {
  display: felx;
  /* align-items: center; */
  padding-top: 20px;
}

.durationOption {
  border: 3px black solid;
  width:150px;
  margin-right: 10px;
  border-radius: 20px
}

.selectDropDownTime {
  text-align: center;
}

/* .selectTime-section {
  display:flex;
  justify-content: center;
} */